{% extends "base/layout.html" %}
{% block main %}
<form class="input-field" method='POST'>
    {% csrf_token %}
        {% for field in form %}
        <div class="input-field">
            {{ field.errors }}
            {{ field }}
            {{ field.label_tag }}
        </div>
        {% endfor %}
    <input class="btn" type="submit" value="Submit">
</form>
<script>
$(document).ready(function(){
    $('select').formSelect();
});

const textareas = document.querySelectorAll('textarea');
for(let textarea of textareas) {
    textarea.classList.add('materialize-textarea');
}

</script>
{% endblock %}