{% extends 'base/layout.html' %}

{% block main %}
<h2>歷年季銷售狀況</h2>

<br>
<form action="{% url 'transaction:season' %}" method="POST" class="ui form">{% csrf_token %}
    <div class="fields">
        <div class="field">
            <button type="submit" name="season" class="ui teal button" value="春季">春季</button>
        </div>
        <div class="field">
            <button type="submit" name="season" class="ui teal button" value="夏季">夏季</button>
        </div>
        <div class="field">
            <button type="submit" name="season" class="ui teal button" value="秋季">秋季</button>
        </div>
        <div class="field">
            <button type="submit" name="season" class="ui teal button" value="冬季">冬季</button>
        </div>
    </div>
</form>

{% if req_season %}
<h3>{{ req_season }}</h3>
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'line',
            backgroundColor: 'rgba(0, 0, 0, 0)',
        },
        title: {
            text: '歷年{{ req_season }}銷售狀況'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                '2016',
                '2017',
                '2018',
            ],
        },
        yAxis: {
            title: {
                text: '銷售量'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2016
            }
        },
        series: [{
            name: '雞汁小雞麵',
            data: {{ product_dict.雞汁小雞麵 }}
        }, {
            name: '辣味小雞麵',
            data: {{ product_dict.辣味小雞麵 }}
        }, {
            name: '海苔小雞麵',
            data: {{ product_dict.海苔小雞麵 }}
        }, {
            name: '起司小雞麵',
            data: {{ product_dict.起司小雞麵 }}
        }, {
            name: 'BBQ小雞麵',
            data: {{ product_dict.BBQ小雞麵 }}
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
</script>
{% endif %}

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/tablesort.js' %}"></script>

{% endblock %}
