{% extends 'base/layout.html' %}

{% block main %}
<h2>月銷售圖表分析</h2>
<hr>
<br>
<form action="{% url 'transaction:chart' %}" method="POST" class="ui form">{% csrf_token %}
    <div class="three fields">
        <div class="three wide field">
            <select class="ui dropdown" name="year">
                <option value="">請選擇年份</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="two wide field">
            <select class="ui dropdown" name="month">
                <option value="">請選擇月份</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="field">    
            <button type="submit" class="ui button">送出</button>
        </div>
    </div>
</form>
<br>
<br>

{% if chart %}
<div id="container"></div>
<script>
  Highcharts.chart('container', {{ chart|safe }});
</script>
{% endif %}

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>

{% endblock %}