{% extends 'base/layout.html' %}

{% block main %}
<h2>歷年年銷售狀況</h2>

<br>
{% comment %}
<table class="ui sortable celled table">
    <thead>
        <tr>
            <th>產品名稱</th>
            <th>2016</th>
            <th>2017</th>
            <th class="sorted descending">2018</th>
        </tr>
    </thead>
    <tbody>
    {% for key, values in product_dict.items %}
        <tr>
            <td>{{ key }}</td>
            {% for v in values %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table> {% endcomment %}
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'line',
            backgroundColor: 'rgba(0, 0, 0, 0)',
        },
        title: {
            text: '歷年年銷售狀況'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                '2016',
                '2017',
                '2018',
            ],
        },
        yAxis: {
            title: {
                text: '銷售量'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        tooltip: {
            pointFormat: '<span style="color:{point.color}">\u25CF</span><tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y} 包</b></td></tr>',
        },
        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false,
                },
                pointStart: 2016,
                pointEnd: 2018,
            }
        },
        series: [{
            name: '雞汁小雞麵',
            data: {{ product_dict.雞汁小雞麵 }}
        }, {
            name: '辣味小雞麵',
            data: {{ product_dict.辣味小雞麵 }}
        }, {
            name: '海苔小雞麵',
            data: {{ product_dict.海苔小雞麵 }}
        }, {
            name: '起司小雞麵',
            data: {{ product_dict.起司小雞麵 }}
        }, {
            name: 'BBQ小雞麵',
            data: {{ product_dict.BBQ小雞麵 }}
        }, ],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 100
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
</script>

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/tablesort.js' %}"></script>

{% endblock %}
