{% extends 'base/layout.html' %}

{% block main %}
<h2>生產排程</h2>
<br>
<form action="{% url 'inventory:schedule_form' %}" method="POST" class="ui form">{% csrf_token %}
    <div class="three fields">
        <div class="three wide field">
            <label>需求日期:</label>
            <input id="date" type="date" name="date">
        </div>
        <div class="two wide field">
            <label>產品:</label>
            <select class="ui dropdown" name="umbrella">
                <option value="雞汁小雞麵">雞汁小雞麵</option>
                <option value="辣味小雞麵">辣味小雞麵</option>
                <option value="海苔小雞麵">海苔小雞麵</option>
                <option value="起司小雞麵">起司小雞麵</option>
                <option value="BBQ小雞麵">BBQ小雞麵</option>
            </select>
        </div>
        <div class="two wide field">
            <label>數量:</label>
            <input type="text" id="num" name="num_of_umbrella">
        </div>
        <div class="field">
            <label>&nbsp&nbsp</label>
            <button type="submit" class="ui teal button">送出</button>
        </div>
    </div>
</form>
<br>
{% if material_tree_list %}
    <p id="top">{{ date }} {{ get_um }} {{ num }}包,&nbsp&nbsp目前存貨量: {{ umbrella.inventory }}包,&nbsp&nbsp
    {% if lack > 0 %}不足{{ lack }}包{% else %}存貨充足{% endif %}&nbsp&nbsp<button class="ui teal button" onclick="displayTree()">檢視產品結構樹</button></p>
    <br>
    <div style="display:none" class="tree" id="tree">
        <ul>
            <div>
                <li>
                    <a href="#">{{ get_um }}</a>
                    <ul>
                    {% for item in material_tree_list %}
                        <li>
                            <a href="#">{{ item.0 }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            </div>
        </ul>
    </div>

    {% if lack > 0 %}
    <div style="clear: left; padding-top:20px;">
        <table class="ui teal table">
            <thead>
                <tr class="center aligned">
                    <th>產品</th>
                    <th>需求量</th>
                    <th>存貨量</th>
                    <th>存貨狀況</th>
                    <th>前置時間</th>
                    <th>生產日期</th>
                    <th>最佳生產批量</th>
                </tr>
            </thead>
            <tbody>
            {% for item in product_tree_list %}
                <tr class="center aligned">
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}單位</td>
                    <td>{{ item.2 }}單位</td>
                    {% if item.3 > 0 %}
                    <td class="negative">不足{{ item.3 }}單位</td>
                    <td>{{ item.4 }}天</td>
                    <td>於{{ item.5 }}前生產</td>
                    <td>{{ item.6 }}單位</td>
                    {% else %}
                    <td class="positive">存貨充足</td>
                    <td>{{ item.4 }}天</td>
                    <td>暫不需生產</td>
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if lack > 0 %}
    <div style="clear: left; padding-top:20px;">
        <h3>原料:</h3>
        <table class="ui teal table">
            <thead>
                <tr class="center aligned">
                    <th>所需原料</th>
                    <th>需求量</th>
                    <th>存貨量</th>
                    <th>存貨狀況</th>
                    <th>前置時間</th>
                    <th>訂貨日期</th>
                    <th>最佳訂購量</th>
                </tr>
            </thead>
            <tbody>
            {% for item in material_tree_list %}
                <tr class="center aligned">
                    <td>{{ item.0.name }}</td>
                    <td>{{ item.1 }}單位</td>
                    <td>{{ item.0.inventory }}單位</td>
                    {% if item.2 > 0 %}
                    <td class="negative">不足{{ item.2 }}單位</td>
                    <td>{{ item.0.material_detail.lead_time }}天</td>
                    <td>於{{ item.3 }}前訂貨</td>
                    <td>{{ item.0.material_detail.eoq }}單位</td>
                    {% else %}
                    <td class="positive">存貨充足</td>
                    <td>{{ item.0.material_detail.lead_time }}天</td>
                    <td>暫不需訂貨</td>
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}

                <!-- <tr class="center aligned">
                {% if frp != 0 %}
                    {% if frp > material_list.1.inventory %}
                        <td>{{ material_list.1 }}</td>
                        <td>{{ frp }}g</td>
                        <td>{{ material_list.1.inventory }}g</td>
                        <td class="negative">不足{{ frp_q }}g</td>
                        <td>應於{{ frp_date }}訂貨</td>
                        <td>{{ material_list.1.material_detail.eoq }}</td>
                    {% else %}
                        <td>{{ material_list.1 }}</td>
                        <td>{{ frp }}g</td>
                        <td>{{ material_list.1.inventory }}g</td>
                        <td class="positive">存貨充足</td>
                        <td>暫不需訂貨</td>
                        <td></td>
                    {% endif %}
                {% endif %}
                </tr> -->

                <!-- <tr class="center aligned">
                {% if fabric != 0 %}
                    {% if fabric > material_list.2.inventory %}
                        <td>{{ material_list.2 }}</td>
                        <td>{{ fabric }}g</td>
                        <td>{{ material_list.2.inventory }}g</td>
                        <td class="negative">不足{{ fabric_q }}g</td>
                        <td>應於{{ fabric_date }}訂貨</td>
                        <td>{{ material_list.2.material_detail.eoq }}</td>
                    {% else %}
                        <td>{{ material_list.2 }}</td>
                        <td>{{ fabric }}g</td>
                        <td>{{ material_list.2.inventory }}g</td>
                        <td class="positive">存貨充足</td>
                        <td>暫不需訂貨</td>
                        <td></td>
                    {% endif %}
                {% endif %}
                </tr> -->
            </tbody>
        </table>
    </div>

    {% endif %}
{% else %}
<p>{{ err_message }}</p>
{% endif %}


{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>

{% endblock %}
