{% extends 'base/layout.html' %}

{% block main %}
<h2>顧客查詢</h2>
<br>

<form action="{% url 'member:search' %}" method='POST' class="ui form">{% csrf_token %}
    <div class="two fields">
        <div class="two wide field">
            <label for='target_age'>目標客群年齡</label>
            <select class="ui dropdown" name='target_age' >
                <option value="全選">全選</option>
                <option value="0-17歲">17歲以下</option>
                <option value="18-30歲">18-30歲</option>
                <option value="31-40歲">31-40歲</option>
                <option value="41-50歲">41-50歲</option>
                <option value="51歲以上">51歲以上</option>
            </select>
        </div>
        <div class="two wide field">
            <label for='target_gender'>目標客群性別</label>
            <select class="ui dropdown" name='target_gender' >
                <option value="全選">全選</option>
                <option value="女性">女性</option>
                <option value="男性">男性</option>
            </select>
        </div>
        <div class="two wide field">
            <label for='target_dwelling'>目標客群居住地</label>
            <select class="ui dropdown" name="target_dwelling" >
                <option value="全選">全選</option>
                <option value="北部">台灣北部</option>
                <option value="中部">台灣中部</option>
                <option value="南部">台灣南部</option>
                <option value="東部">台灣東部</option>
                <option value="其他">其他</option>
            </select><br>
        </div>
        <div class="field">
            <label>&nbsp&nbsp</label>
            <button type="submit" class="ui teal button">查詢</button>
        </div>
    </div>
</form>
<br><br>
{% if members %}
    <p>目標客群: {{ target_age }} {{ target_gender }} {{ target_dwelling }}</p>
    <table class="ui table">
    <thead>
        <tr>
            <th></th>
            <th>顧客名稱</th>
            <th>年齡</th>
            <th>性別</th>
            <th>居住地</th>
            <th>手機</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for m in members %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ m.member_name }}</td>
            <td>{{ m.age }}</td>
            <td>{{ m.gender }}</td>
            <td>{{ m.dwelling }}</td>
            <td>{{ m.cellphone_number }}</td>
            <td>{{ m.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endif %}

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>

{% endblock %}
